@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-dark: #111827;
    --color-light: #F3F4F6;
  }
  html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    text-transform: lowercase;
    background: var(--color-light);
  }
  /* width */
  html ::-webkit-scrollbar {
    width: 16px;
  }

  /* Track */
  html ::-webkit-scrollbar-track {
    background: var(--color-dark);
  }

  /* Handle */
  html ::-webkit-scrollbar-thumb {
    background: var(--color-light);
    border:  solid var(--color-dark);;
    border-left: 10px;
    border-bottom: 10px;
    border-top: 10px;
  }

  /* Handle on hover */
  html ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3) ; 
  }
}
