@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    text-transform: lowercase;
  }
  /* width */
  html ::-webkit-scrollbar {
    width: 16px;
  }

  /* Track */
  html ::-webkit-scrollbar-track {
    background: #111827;
  }

  /* Handle */
  html ::-webkit-scrollbar-thumb {
    background: #F3F4F6;
    border:  solid #111827;
    border-left: 10px;
    border-bottom: 10px;
    border-top: 10px;
  }

  /* Handle on hover */
  html ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3) ; 
  }
}
